// COLORS
$c-primary: #0E496E;
$c-secondary: #F27E2C;
$c-danger: #FF0000;
$c-success: #148D06;
$c-white: #FFFFFF;
$c-black: #000000;

$c-primary-light: #ffffff33;
$c-light-gray: #FAFAFA;
$c-gray: #707070;
$c-dark: #070e1b;

// TYPOGRAPHY
$font-primary: 'Open Sans', sans-serif;