// COLORS
$c-primary: #0E496E;
$c-secondary: #F27E2C;
$c-danger: #FF0000;
$c-success: #148D06;
$c-white: #FFFFFF;
$c-black: #000000;
$c-yellow: #F9B220;

$c-primary-light: #ffffff33;
$c-light-gray: #FAFAFA;
$c-gray: #707070;
$c-dark: #070e1b;
$c-sky: #1F71F2;
$c-blue: #0549B4;

$c-google: #F34133;
$c-facebook: #1877F2;
$c-linedin: #0A66C2;

// TYPOGRAPHY
$font-primary: 'Open Sans', sans-serif;