.chatbot {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;

  &__toggle {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba($c-black, 0.16);
    background-color: $c-secondary;
    position: relative;

    &-logo {
      max-width: 100%;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  &__welcome {
    position: absolute;
    width: 300px;
    right: calc(100% + 20px);
    bottom: 50%;
    background-color: $c-white;
    padding: 25px;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    box-shadow: 0 3px 6px rgb($c-black, 0.16);
    animation: botWelcomeMsg 0.3s ease;

    &-msg {
      font-size: 14px;
      display: flex;
      align-items: center;

      &-icon {
        margin-right: 8px;
      }
    }
  }

  &__bot {
    width: 460px;
    position: absolute;
    bottom: 100px;
    background-color: $c-white;
    right: 0;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba($c-black, 0.16);

    &-header {
      padding: 20px;
      background: $c-secondary-gradient;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      display: flex;
      align-items: center;
      color: $c-white;
      box-shadow: 0 3px 6px rgba($c-black, 0.16);

      &-user {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 3px 6px rgba($c-black, 0.16);

        img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
          object-fit: cover;
        }

        &.online::after {
          content: "";
          width: 6px;
          height: 6px;
          background-color: $c-success;
          border: 2px solid $c-white;
          border-radius: 50%;
          position: absolute;
          bottom: 3.5px;
          right: 3.5px;
        }
      }

      &-heading {
        padding: 0 20px;

        &-one {
          font-size: 20px;
          margin-bottom: 5px;
        }

        &-tagline {
          font-size: 18px;
          margin-bottom: 0;
        }
      }

      &-icon {
        margin-left: auto;
      }
    }

    &-body {
      padding: 20px;
    }

    &-messages {
      &-msg {
        display: flex;
        align-items: flex-end;
        margin-bottom: 40px;

        &-content {
          font-size: 14px;
          padding: 15px;
          background: $c-light2-gray;
          max-width: 60%;
          margin-left: 8px;
          margin-right: 8px;
          border-radius: 20px;
          position: relative;
        }

        &-user {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          box-shadow: 0 3px 6px rgba($c-black, 0.16);

          img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
            object-fit: cover;
          }
        }

        &-time {
          font-size: 10px;
          position: absolute;
          top: calc(100% + 8px);
          left: 0;
        }

        &.reciever {
          .chatbot__bot-messages-msg-content {
            border-bottom-left-radius: 0;
          }

          .chatbot__bot-messages-msg-time {
            left: 0;
          }
        }

        &.sender {
          flex-direction: row-reverse;

          .chatbot__bot-messages-msg-content {
            border-bottom-right-radius: 0;
            background-color: #F9DFCC;
          }

          .chatbot__bot-messages-msg-time {
            right: 0;
          }
        }
      }
    }

    &-footer {
      &-input-group {
        position: relative;
        margin: 0 7px;
      }

      &-input {
        width: 100%;
        font-size: 18px;
        padding: 16px;
        padding-right: 8.67em;
        border-radius: 28px;
        box-shadow: 0 0 6px rgba($c-black, 0.08);
        border: none;
        outline: none;
        line-height: 1.36;
      }

      &-input-append {
        height: calc(100% - 8px);
        position: absolute;
        top: 4px;
        right: 4px;
        display: flex;
        align-items: center;
      }

      &-powered-by-text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 8px;

        img {
          margin-left: 8px;
          max-width: 70px;
        }
      }

      &-attachment {
        margin: 0 8px;
      }

      &-attachment,
      &-emojies {
        cursor: pointer;
      }

      &-send {
        padding: 15px;
        border-radius: 26px;
        border: none;
        outline: none;
        background: #f27e2c;
        display: flex;
        align-items: center;
        color: #fff;
        cursor: pointer;

        span {
          font-size: 14px;
          margin-top: 5px;
          margin-left: 8px;
        }
      }
    }
  }

  &.open {
    .chatbot__toggle {
      &-logo {
        opacity: 0;
      }

      &-icon {
        opacity: 1;
      }
    }

    .chatbot__welcome {
      display: none;
    }
  }
}

@keyframes botWelcomeMsg {
  0% {
    opacity: 0;
    transform: translate(50px, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
