.landing-page {
  min-height: 100vh;
  background-color: $c-white;
  font-family: $font-mulish;

  &__wrapper {
    max-width: 1505px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__banner {
    max-width: 1920px;
    margin: auto;
    border-bottom: 1px solid rgba($c-gray, 0.2);
    position: relative;
    background-image: url("../../../assets/images/landing_social_logos.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 45%;

    &-inner {
      display: flex;
      align-items: center;
      max-width: calc(1920px - (1920px - 1505px + 15px) / 2);
      margin-left: auto;
      padding: 0;
    }

    &-text {
      max-width: 625px;
      padding: 15px;
      color: $c-landing-dark-gray;
    }

    &-heading {
      font-size: 46px;
      margin-bottom: 0.8em;
      font-weight: bold;
    }

    &-description {
      font-size: 18px;
      margin-bottom: 1em;
    }

    &-image {
      flex-grow: 1;
      text-align: right;

      img {
        max-height: 100vh;
        min-height: 600px;
      }
    }

    &-mouse {
      width: 30px;
      height: 60px;
      border: 5px solid $c-ladning-primary;
      border-radius: 16px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;

      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: $c-secondary;
        border-radius: 16px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        animation: mouseMove 1.5s infinite;
      }
    }
  }

  &__header {
    &-inner {
      display: flex;
      align-items: center;
      padding: 20px 0;
    }

    &-branding {
      max-width: 150px;
      margin-right: 15px;
    }

    &-menu {
      list-style: none;
      display: flex;
      margin-left: 15px;
      flex-grow: 1;

      li {
        padding: 0 15px;
        display: flex;
        align-items: center;
      }

      &-link {
        display: block;
        padding: 7px 15px;
        line-height: 1.1;
        cursor: pointer;
        font-size: 16px;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: $c-secondary;
          margin-top: 5px;
          transition: 0.3s all ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  &__heading {
    font-size: 38px;
    margin-bottom: 0.7em;
    color: $c-dark;
  }

  &__tagline {
    font-size: 18px;
    line-height: 1.8;
  }

  &__description {
    font-size: 16px;
    line-height: 2;
  }

  &__explore-link {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: $c-secondary;

    svg {
      margin-left: 8px;
    }
  }

  &__bot-intro {
    padding: 50px 0;

    &-item {
      width: 50%;
      padding: 0 100px;
    }

    &.has--cross-bg {
      background-image: url("../../../assets/images/cross_bg.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 10%;
    }
  }

  &__lead-generation {
    padding: 80px 0;
    background-color: $c-sky-light;

    &-inner {
      background-color: $c-white;
      box-shadow: 0 0 20px rgba($c-black, 0.08);
      display: flex;
      align-items: center;
      padding: 50px 0;
    }

    &-item {
      width: 50%;
      padding: 30px;

      &.item--media {
        position: relative;

        img {
          position: relative;
          z-index: 2;
        }

        // &::after {
        //   content: "";
        //   width: 400px;
        //   height: 400px;
        //   border-radius: 200px 0 200px 0;
        //   background-image: linear-gradient(45deg, $c-blue, rgba($c-blue, 0.7));
        //   position: absolute;
        //   bottom: -50px;
        //   left: -80px;
        //   z-index: 1;
        // }
      }
    }
  }

  &__customer-support {
    background: $c-landing-light;

    &-header {
      max-width: 650px;
      text-align: center;
      margin: 0 auto 30px;
      padding: 50px;
    }

    &-items {
      display: flex;
      margin-bottom: 80px;
      width: 100%;
    }

    &-item {
      flex-basis: 20%;
      text-align: center;
      padding: 20px;
      flex-grow: 1;
    }
  }

  &__demo-request {
    padding: 50px 0;

    &-inner {
      padding: 50px 15px;
      background: url("../../../assets/images/demo_wave_line.png"),
        linear-gradient(90deg, $c-ladning-primary-light, $c-ladning-primary);
      color: #fff;
      box-shadow: 0 0 20px rgba($c-black, 0.16);

      .landing-page__heading {
        color: $c-white;
        font-weight: normal;
      }

      p {
        font-size: 18px;
        margin-bottom: 30px;
      }

      button {
        background-color: $c-white;
        color: $c-sky;
      }
    }
  }

  &__social {
    background: $c-landing-light;

    &-header {
      max-width: 750px;
      text-align: center;
      margin: 0 auto 50px;
      padding: 50px;
    }

    &-items {
      display: flex;
      padding-bottom: 80px;
      width: 100%;
    }

    &-item {
      text-align: center;
      padding: 0 20px;
      margin: 0 15px;
      flex-grow: 1;
    }

    &-logo {
      width: 150px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $c-white;
      box-shadow: 0 0 50px rgba($c-black, 0.1);
      padding: 20px;
    }
  }

  &__testimonials {
    &-items {
      display: flex;
    }

    &-item {
      display: flex;
      align-items: center;
      background-color: $c-ladning-primary-light;
      color: $c-white;
      padding-top: 15px;
      flex-wrap: 50%;

      &:nth-child(odd) {
        background-color: $c-landing-sky;
        color: $c-landing-dark-gray;
      }
    }

    &-text {
      padding: 30px;
      font-size: 18px;

      &-review {
        margin-bottom: 2em;
      }
    }
  }

  &__footer {
    background-image: linear-gradient(
      -90deg,
      $c-ladning-primary-dark,
      $c-ladning-primary-light
    );
    color: $c-white;
    
    .landing-page__wrapper {
      background-image: url("../../../assets/images/landing_footer_shape.png");
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 38%;
    }

    &-top {
      padding: 100px;
      text-align: center;
      max-width: 840px;
      margin: auto;
    }

    &-heading {
      font-size: 46px;
      margin-bottom: 1em;
    }

    &-demo-form {
      max-width: 80%;
      margin: auto;
      display: flex;

      input {
        border: 1px solid rgba($c-white, 0.2);
        background-color: transparent;
        padding: 15px;
        border-radius: 8px;
        color: $c-white;
        outline: none;
        margin-right: 20px;
        font-size: 14px;
        flex-grow: 1;

        &::placeholder {
          color: $c-white;
        }
      }
    }

    &-items {
      display: flex;
    }

    &-item {
      flex-basis: 20%;
    }

    &-menu-heading {
      font-size: 18px;
      margin-bottom: 1.8em;
    }

    &-menu {
      list-style: none;

      li {
        margin-bottom: 15px;
      }

      &-link {
        color: inherit;
      }

      &.menu--social-links {
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 20px;
        }
      }
    }

    &-copyrights {
      padding: 50px 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }
  }
}

@keyframes mouseMove {
  0% {
    top: -10px;
  }
  100% {
    top: 40%;
    display: none;
  }
}
