.section-settings {
    display: flex;
    
    &__main {
        flex-grow: 1;
        padding: 45px;
        background: $c-white;
    }

    &__heading {
        font-size: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-weight: 500;
        &-help {
            margin-left: 20px;
            display: inline-flex;
            align-items: center;
            color: rgba($c-gray, 0.4);
            font-size: 16px;
            cursor: pointer;
            user-select: none;

            svg {
                margin-right: 8px;
            }
        }
    }
    &__searchbarbox{
        margin-bottom: 30px;
        align-items: center;
    }
    &__searchbox{
        align-items: center;
    }
    &__searchbar{
        display: flex;
        align-items: center;
        border: 1px solid rgba($c-gray, 0.20);
        border-radius: 5px;
        padding-left: 16px;
        max-width: 490px;
        width: 100%;
        margin-right: 20px;
        input {
            padding: 10px;
            font-size: 14px;
            color: $c-gray;
            border: none;
            outline: none;
            width: 100%;
            min-height: 48px;
            min-width: 250px;
            background: transparent;
        }
    }
    &__selectbox{
        margin-right: 20px;
        .selectoptionbox {
            display: flex;
            align-items: center;
            background: $c-white;
            box-shadow:0px 1px 5px rgba($c-black, 0.16);
            padding: 0px 20px;
            min-height: 48px;
            border-radius: 5px;
        .mat-form-field-infix{
            width: 90px;
            border: none;
            outline: none;
            font-size: 12px;
          
            .mat-select-value {
                color: $c-gray;
                position: relative;
                top: 2px;
                left: 3px;
            }
        }
        h4 {
            width:80px;
            color:rgba($c-gray, 0.4);
        }
        .mat-form-field-wrapper{
            padding-bottom: 0px;
           
        }
        .mat-form-field{
            width: 85px;
        }
        .mat-form-field-appearance-legacy {
            .mat-form-field-underline{
                background: transparent!important;
            }
        }
        .mat-select-arrow{
            border: none;
            background: url(../../../assets/icons/icon_arrow_down.svg);
            background-size: 15px 15px;
            background-repeat: no-repeat;
            background-position: center;
            width: 15px;
            height: 15px;
            position: relative;
            top: 1px;
        }
     }
    }
    &__table {
        margin-top: 0px;

        th, td {
            &:first-child {
                padding-right: 0;
            }
        }
       
    }
    &__user{
        align-items: center;
        
    }
    &__user-pic{
        width: 48px;
        height: 48px;
        border-radius: 50%;
    } 
    &__user-detail{
        padding: 0px 15px;     
    }
    &__user-name{
        color: $c-gray;
        font-size: 14px;
    }
    &__iconedit{
        margin-right: 15px;
    }

    &__pagination{
        .mat-paginator-container{
            justify-content: space-between;
            .mat-paginator-page-size-label{
                color: $c-gray-dark;
                font-size: 14px;
                .mat-paginator {
                
                    padding: 0px 15px;
                }
            }
        }
    }
}