.app-badge {
    font-size: 12px;
    padding: 4px 15px;
    border-radius: 12px;

    &.badge--sky {
        background-color: $c-sky;
        color: $c-white;
    }

    &.badge--secondary {
        background-color: rgba($c-secondary, 0.1);
        color: $c-secondary;
    }
}