// MATERIAL FORM FIELDS OVERRIDE
.mat-form-field {
  width: 100%;
}

// APP FORM FIELDS
.app-form-label {
  font-size: 14px;
  color: $c-gray;
  margin-bottom: 15px;
}

.mat-form-field {
  font-size: 14px;
}

.app-checkbox {
  input {
    display: none;

    &:checked ~ label {
      border: 6px solid $c-secondary;
    }
  }

  label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba($c-gray, 0.2);
    background-color: $c-white;
    border-radius: 5px;
    position: relative;
    transition: .3s border ease-in-out;
    cursor: pointer;
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline,
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb($c-gray, 0.2);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick,
.mat-form-field.mat-focused .mat-form-field-label {
  color: $c-secondary;
}

// DROPDOWN MENU
.mat-menu-content {
  min-width: 160px;

  .mat-menu-item {
    display: flex;
    align-items: center;

    .mat-menu-item__icon {
      margin-right: 8px;
    }
  }
}

// CHECKBOXES
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $c-secondary;
  border-radius: 5px;
}

.mat-checkbox-background,
.mat-checkbox-frame {
  border-radius: 5px !important;
}

.mat-checkbox-frame {
  border: 1px solid rgba($c-gray, 0.4) !important;
}
