<header class="admin-header">
  <div class="admin-header__left">
    <div class="admin-header__search">
      <img
        src="../../../../assets/icons/icon_search.svg"
        alt="search"
        class="admin-header__search-icon"
      />
      <input
        type="text"
        placeholder="Search workspace, chatbot …."
        class="admin-header__search-input"
      />
    </div>
    <div class="admin-header__notification">
      <div class="admin-header__notification-bell">
        <img
          src="../../../../assets/icons/icon_notification.svg"
          alt="notification"
        />
        <small class="admin-header__notification-count">1</small>
      </div>
    </div>
  </div>
  <div class="admin-header__right">
    <div class="admin-header__user" mat-button [matMenuTriggerFor]="menu">
      <img
        src="../../../../assets/images/user_pic.png"
        alt="user"
        class="admin-header__user-pic"
      />
      <div class="admin-header__user-detail">
        <p class="admin-header__user-name">Rohit Kale</p>
        <span class="admin-header__user-role">Admin</span>
      </div>

      <img src="../../../../assets/icons/icon_angel_down.svg" alt="icon" />
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <img
          src="../../../../assets/icons/icon_edit.svg"
          alt="icon plus"
          class="mat-menu-item__icon"
        />
        <span>Edit</span>
      </button>
    </mat-menu>


  </div>
</header>
