<aside class="admin-sidebar">
  <a href="/" class="admin-sidebar__branding">
    <img src="../../../../assets/icons/logo-white.svg" alt="AskTalos logo" />
  </a>

  <ul class="admin-sidebar__menu">
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link">
        <img src="../../../../assets/icons/icon_home.svg" alt="AskTalos logo" />
        <span>Home</span>
      </a>
    </li>
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link active">
        <img src="../../../../assets/icons/icon_bot.svg" alt="AskTalos logo" />
        <span>Bot</span>
      </a>
    </li>
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link">
        <img
          src="../../../../assets/icons/icon_plugins.svg"
          alt="AskTalos logo"
        />
        <span>Plugins</span>
      </a>
    </li>
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link">
        <img
          src="../../../../assets/icons/icon_reports.svg"
          alt="AskTalos logo"
        />
        <span>Reports</span>
      </a>
    </li>
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link">
        <img src="../../../../assets/icons/icon_chat.svg" alt="AskTalos logo" />
        <span>Live Chat</span>
      </a>
    </li>
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link">
        <img
          src="../../../../assets/icons/icon_setting.svg"
          alt="AskTalos logo"
        />
        <span>Settings</span>
      </a>
    </li>
    <li class="admin-sidebar__menu-item">
      <a href="" class="admin-sidebar__menu-item-link">
        <img src="../../../../assets/icons/icon_help.svg" alt="AskTalos logo" />
        <span>Help</span>
      </a>
    </li>
  </ul>
</aside>
