<main class="landing-page">
  <header class="landing-page__header">
    <div class="landing-page__wrapper">
      <div class="landing-page__header-inner">
        <a [routerLink]="" class="landing-page__header-branding">
          <img
            src="../../../assets/images/logo-full-colored.png"
            alt="AskTalos"
          />
        </a>

        <ul class="landing-page__header-menu">
          <li>
            <a class="landing-page__header-menu-link">Our Products</a>
            <svg
              class="landing-page__header-menu-caret"
              width="16.121"
              height="8.811"
              viewBox="0 0 16.121 8.811"
            >
              <g transform="translate(1.061 1.061)">
                <path
                  d="M14,0,7,7,0,0"
                  fill="none"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </li>
          <li>
            <a class="landing-page__header-menu-link">Pricing</a>
          </li>
          <li>
            <a class="landing-page__header-menu-link">About Us</a>
          </li>
        </ul>

        <div class="landing-page__header-onboaring">
          <a
            [routerLink]="['', 'auth', 'sign-up']"
            class="landing-page__header-onboaring-link bttn bttn-secondary"
            >Sign Up</a
          >
        </div>
      </div>
    </div>
  </header>

  <section class="landing-page__bot-intro">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__bot-intro-item">
        <img
          src="../../../assets/images/bot-screenshot.png"
          alt="bot screenshot"
        />
      </div>
      <div class="landing-page__bot-intro-item">
        <h3 class="landing-page__heading">Support Optimisation Bot</h3>
        <p class="landing-page__description">
          Built to provide seamless query resolutions, reduce tickets generation
          and to make your life a lot easier. Enhance your customer experience
          by providing 24/7 customer support.
        </p>
        <a href="" class="landing-page__explore-link">
          <span>Explore More</span>
          <svg width="22" height="22" viewBox="0 0 22 22">
            <g transform="translate(0.75 0.75)">
              <g transform="translate(0 20.5) rotate(-90)">
                <path
                  d="M0,10.25A10.25,10.25,0,1,0,10.25,0,10.25,10.25,0,0,0,0,10.25Z"
                  fill="rgba(242,126,44,0.1)"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M0,0,3.846,3.863,7.692,0"
                  transform="translate(6.404 8.652)"
                  fill="none"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section class="landing-page__bot-intro">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__bot-intro-item">
        <h3 class="landing-page__heading">Support Optimisation Bot</h3>
        <p class="landing-page__description">
          Built to provide seamless query resolutions, reduce tickets generation
          and to make your life a lot easier. Enhance your customer experience
          by providing 24/7 customer support.
        </p>
        <a href="" class="landing-page__explore-link">
          <span>Explore More</span>
          <svg width="22" height="22" viewBox="0 0 22 22">
            <g transform="translate(0.75 0.75)">
              <g transform="translate(0 20.5) rotate(-90)">
                <path
                  d="M0,10.25A10.25,10.25,0,1,0,10.25,0,10.25,10.25,0,0,0,0,10.25Z"
                  fill="rgba(242,126,44,0.1)"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M0,0,3.846,3.863,7.692,0"
                  transform="translate(6.404 8.652)"
                  fill="none"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>
      <div class="landing-page__bot-intro-item text-right">
        <img
          src="../../../assets/images/bot-screenshot.png"
          alt="bot screenshot"
        />
      </div>
    </div>
  </section>

  <section class="landing-page__lead-generation">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__lead-generation-inner">
        <div class="landing-page__lead-generation-item item--text">
          <h3 class="landing-page__heading">Leads Generation Bot</h3>
          <p class="landing-page__description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet
          </p>
        </div>
        <div class="landing-page__lead-generation-item item--media">
          <img
            src="../../../assets/images/lead-generation-image.png"
            alt="lead generation"
          />
        </div>
      </div>
    </div>
  </section>
</main>
