<main class="landing-page">
  <header class="landing-page__header">
    <div class="landing-page__wrapper">
      <div class="landing-page__header-inner">
        <a [routerLink]="" class="landing-page__header-branding">
          <img
            src="../../../assets/images/logo-full-colored.png"
            alt="AskTalos"
          />
        </a>

        <ul class="landing-page__header-menu">
          <li>
            <a class="landing-page__header-menu-link">Our Products</a>
            <svg
              class="landing-page__header-menu-caret"
              width="16.121"
              height="8.811"
              viewBox="0 0 16.121 8.811"
            >
              <g transform="translate(1.061 1.061)">
                <path
                  d="M14,0,7,7,0,0"
                  fill="none"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </svg>
          </li>
          <li>
            <a class="landing-page__header-menu-link">Pricing</a>
          </li>
          <li>
            <a class="landing-page__header-menu-link">About Us</a>
          </li>
        </ul>

        <div class="landing-page__header-onboaring">
          <a
            [routerLink]="['', 'auth', 'sign-up']"
            class="landing-page__header-onboaring-link bttn bttn-secondary"
            >Sign Up</a
          >
        </div>
      </div>
    </div>
  </header>

  <section class="landing-page__banner">
    <div class="landing-page__banner-inner">
      <div class="landing-page__banner-text">
        <h2 class="landing-page__banner-heading">
          Automate Conversations With An Intelligent AI Chatbot.
        </h2>
        <p class="landing-page__banner-description">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et
        </p>
        <button class="bttn bttn-secondary">Setup Bot Free</button>
      </div>
      <div class="landing-page__banner-image">
        <img
          src="../../../assets/images/landing_page_banner_image.png"
          alt="laptop"
        />
      </div>
    </div>

    <span class="landing-page__banner-mouse">&nbsp;</span>
  </section>

  <section class="landing-page__bot-intro has--cross-bg">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__bot-intro-item">
        <img
          src="../../../assets/images/bot-screenshot.png"
          alt="bot screenshot"
        />
      </div>
      <div class="landing-page__bot-intro-item">
        <h3 class="landing-page__heading">Support Optimisation Bot</h3>
        <p class="landing-page__description">
          Built to provide seamless query resolutions, reduce tickets generation
          and to make your life a lot easier. Enhance your customer experience
          by providing 24/7 customer support.
        </p>
        <a href="" class="landing-page__explore-link">
          <span>Explore More</span>
          <svg width="22" height="22" viewBox="0 0 22 22">
            <g transform="translate(0.75 0.75)">
              <g transform="translate(0 20.5) rotate(-90)">
                <path
                  d="M0,10.25A10.25,10.25,0,1,0,10.25,0,10.25,10.25,0,0,0,0,10.25Z"
                  fill="rgba(242,126,44,0.1)"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M0,0,3.846,3.863,7.692,0"
                  transform="translate(6.404 8.652)"
                  fill="none"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </section>

  <section class="landing-page__bot-intro">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__bot-intro-item">
        <h3 class="landing-page__heading">Leads Generation Bot</h3>
        <p class="landing-page__description">
          Built to provide seamless query resolutions, reduce tickets generation
          and to make your life a lot easier. Enhance your customer experience
          by providing 24/7 customer support.
        </p>
        <a href="" class="landing-page__explore-link">
          <span>Explore More</span>
          <svg width="22" height="22" viewBox="0 0 22 22">
            <g transform="translate(0.75 0.75)">
              <g transform="translate(0 20.5) rotate(-90)">
                <path
                  d="M0,10.25A10.25,10.25,0,1,0,10.25,0,10.25,10.25,0,0,0,0,10.25Z"
                  fill="rgba(242,126,44,0.1)"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
                <path
                  d="M0,0,3.846,3.863,7.692,0"
                  transform="translate(6.404 8.652)"
                  fill="none"
                  stroke="#f27e2c"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-miterlimit="10"
                  stroke-width="1.5"
                />
              </g>
            </g>
          </svg>
        </a>
      </div>
      <div class="landing-page__bot-intro-item text-right">
        <img
          src="../../../assets/images/bot-screenshot.png"
          alt="bot screenshot"
        />
      </div>
    </div>
  </section>

  <section class="landing-page__lead-generation">
    <div class="landing-page__wrapper flex-center">
      <div class="landing-page__lead-generation-inner">
        <div class="landing-page__lead-generation-item item--text">
          <h3 class="landing-page__heading">Leads Generation <br />Bot</h3>
          <p class="landing-page__description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet
          </p>
        </div>
        <div class="landing-page__lead-generation-item item--media">
          <img
            src="../../../assets/images/lead-generation-image.png"
            alt="lead generation"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page__customer-support">
    <div class="landing-page__customer-support-inner landing-page__wrapper">
      <div class="landing-page__customer-support-header">
        <h3 class="landing-page__heading">Redefine Customer Support</h3>
        <p class="landing-page__tagline">
          Create a personal connection with customers looking for support-
          without interrupting their experience or your expense load.
        </p>
      </div>

      <div class="landing-page__customer-support-items">
        <div class="landing-page__customer-support-item">
          <img src="../../../assets/images/computer_image.png" alt="computer" />
          <h5 class="landing-page__tagline">
            Be There For Your Customers 24/7/365 Days
          </h5>
          <p class="landing-page__description">
            Answer customer questions and offer help when—and where—they need it
            most.
          </p>
        </div>

        <div class="landing-page__customer-support-item">
          <img src="../../../assets/images/rocket_image.png" alt="rocket" />
          <h5 class="landing-page__tagline">View Complete Customer History</h5>
          <p class="landing-page__description">
            See the actions, which visitors and customers took before chatting
            with salespersons by easily accessing a timeline.
          </p>
        </div>

        <div class="landing-page__customer-support-item">
          <img src="../../../assets/images/calendar_image.png" alt="calendar" />
          <h5 class="landing-page__tagline">
            Provide Faster Solutions To Your Customers
          </h5>
          <p class="landing-page__description">
            Anticipate questions and respond faster with multidimensional
            automated answers.
          </p>
        </div>

        <div class="landing-page__customer-support-item">
          <img src="../../../assets/images/paint_image.png" alt="paint" />
          <h5 class="landing-page__tagline">
            Accelerate Team’s Productivity With A Smooth Work Process
          </h5>
          <p class="landing-page__description">
            Automatically segment visitors based and quickly route chats to the
            respective salesperson.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page__demo-request">
    <div class="landing-page__wrapper">
      <div class="landing-page__demo-request-inner text-center">
        <h3 class="landing-page__heading">Tickmark A Remarkable Experience</h3>
        <p>
          AskTalos empowers you with tools that build an excellent customer
          service experience.
        </p>
        <button class="bttn">Request a demo</button>
      </div>
    </div>
  </section>

  <section class="landing-page__social">
    <div class="landing-page__social-inner landing-page__wrapper">
      <div class="landing-page__social-header">
        <h3 class="landing-page__heading">
          Supercharge Your App, Website And Social Media Profiles
        </h3>
        <p class="landing-page__tagline">
          Ensure your appearance on every platform so that your customer can
          approach you from anywhere.
        </p>
      </div>

      <div class="landing-page__social-items">
        <div class="landing-page__social-item">
          <div class="landing-page__social-logo">
            <img
              src="../../../assets/images/zendesk-logo.png"
              alt="zendesk logo"
            />
          </div>
        </div>

        <div class="landing-page__social-item">
          <div class="landing-page__social-logo">
            <img
              src="../../../assets/images/logo_apple_msg.png"
              alt="apple messages"
            />
          </div>
        </div>

        <div class="landing-page__social-item">
          <div class="landing-page__social-logo">
            <img src="../../../assets/images/email.png" alt="email" />
          </div>
        </div>

        <div class="landing-page__social-item">
          <div class="landing-page__social-logo">
            <img
              src="../../../assets/images/whatsapp-logo.png"
              alt="whatsapp logo"
            />
          </div>
        </div>

        <div class="landing-page__social-item">
          <div class="landing-page__social-logo">
            <img
              src="../../../assets/images/facebook-messenger-logo.png"
              alt="facebook messenger logo"
            />
          </div>
        </div>

        <div class="landing-page__social-item">
          <div class="landing-page__social-logo">
            <img src="../../../assets/images/www.png" alt="www" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="landing-page__customer-support">
    <div class="landing-page__customer-support-inner">
      <div class="landing-page__customer-support-header">
        <h3 class="landing-page__heading">Automate Routine Tasks</h3>
        <p class="landing-page__tagline">
          Save your time to devout your expertise in things that matter more.
        </p>
      </div>

      <div class="landing-page__customer-support-items">
        <div class="landing-page__customer-support-item">
          <img src="../../../assets/images/computer_image.png" alt="computer" />
          <h5 class="landing-page__tagline">Get the basics</h5>
          <p class="landing-page__description">
            Capture names and contact information, select dates and times, and
            more.
          </p>
        </div>

        <div class="landing-page__customer-support-item">
          <img src="../../../assets/images/rocket_image.png" alt="rocket" />
          <h5 class="landing-page__tagline">Powerful Intuitive AI</h5>
          <p class="landing-page__description">
            A powerful workflow engine paired with artificial intelligence
            ensures that routine tasks get resolved faster.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="landing-page__testimonials">
    <h3 class="landing-page__heading text-center">
      Our Customers Know Us Best
    </h3>

    <div class="landing-page__testimonials-items">
      <div class="landing-page__testimonials-item">
        <img
          class="landing-page__testimonials-image"
          src="../../../assets/images/happy_customer.png"
          alt="customer"
        />
        <div class="landing-page__testimonials-text">
          <p class="landing-page__testimonials-text-review">
            I loved the AskTalos integration on our website - in less than 24
            hours, I booked more than 50,000 in sales.
          </p>
          <h6 class="landing-page__testimonials-text-name">Samual Jackson</h6>
        </div>
      </div>
      <div class="landing-page__testimonials-item">
        <img
          class="landing-page__testimonials-image"
          src="../../../assets/images/happy_customer.png"
          alt="customer"
        />
        <div class="landing-page__testimonials-text">
          <p>
            I loved the AskTalos integration on our website - in less than 24
            hours, I booked more than 50,000 in sales.
          </p>
          <h6>Samual Jackson</h6>
        </div>
      </div>
    </div>
  </div>
</main>
