<section class="live-chat">
  <div class="live-chat__sidebar sidebar--left">
    <div class="live-chat__sidebar-tabs">
      <div class="live-chat__sidebar-tabs-btns">
        <button class="live-chat__sidebar-tabs-btn">
          <span>Chats</span>
        </button>
        <button class="live-chat__sidebar-tabs-btn active">
          <span>Waiting</span>
          <span class="app-badge badge--sky">5</span>
        </button>
      </div>

      <div class="live-chat__sidebar-tabs-content"></div>
    </div>
  </div>

  <div class="live-chat__chat">
    <div class="chatbot__bot-body">
      <div class="chatbot__bot-messages">
        <!-- msg--recieve class for left side messages which user recieving -->
        <div class="chatbot__bot-messages-msg msg--recieve">
          <div class="chatbot__bot-messages-msg-content content--text">
            <p>Hi! I'm a bot. How may I help You?</p>
            <span class="chatbot__bot-messages-msg-time">08:09 PM</span>
          </div>
        </div>

        <!-- msg--send class for right side messages which user sending -->
        <div class="chatbot__bot-messages-msg msg--send">
          <div class="chatbot__bot-messages-msg-content content--text">
            <p>I would like the information about Data Science Course.</p>
            <span class="chatbot__bot-messages-msg-time">Just Now</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="live-chat__sidebar sidebar--right">
    <div class="live-chat__sidebar-tabs">
      <div class="live-chat__sidebar-tabs-btns">
        <button class="live-chat__sidebar-tabs-btn">
          <span>Quick Responses</span>
        </button>
        <button class="live-chat__sidebar-tabs-btn active">
          <span>User Description</span>
        </button>
      </div>

      <div class="live-chat__sidebar-tabs-content"></div>
    </div>
  </div>
</section>
