<section class="live-chat">
  <div class="live-chat__sidebar sidebar--left">
    <div class="live-chat__sidebar-tabs">
      <div class="live-chat__sidebar-tabs-btns">
        <button class="live-chat__sidebar-tabs-btn">
          <span>Chats</span>
        </button>
        <button class="live-chat__sidebar-tabs-btn active">
          <span>Waiting</span>
          <span class="app-badge badge--sky">5</span>
        </button>
      </div>

      <div class="live-chat__sidebar-tabs-content">
        <div class="live-chat__chat-listing">
          <div class="live-chat__chat-listing-header">
            <h5 class="live-chat__chat-listing-heading">Waiting Users</h5>
            <span class="live-chat__chat-listing-header-filter">
              <img src="../../../../assets/icons/icon_chat_filter.svg" alt="chat filter icon" />
            </span>
          </div>

          <div class="live-chat__chat-listing-list">
            <div class="live-chat__chat-listing-item">
              <div class="live-chat__chat-listing-item-header">
                <span class="live-chat__chat-listing-item-dot dot--success"></span>
                <h4 class="live-chat__chat-listing-item-heading">Vijaya Laxmi Pathowle</h4>
                <span class="app-badge badge--secondary">Bot Name</span>
                <span class="live-chat__chat-listing-item-count app-badge badge--sky">5</span>
              </div>

              <div class="live-chat__chat-listing-item-body">
                <p class="live-chat__chat-listing-item-message">Bot: Hi there How may I help you?</p>
                <span class="live-chat__chat-listing-item-time">09:30 AM</span>
              </div>
            </div>

            <div class="live-chat__chat-listing-item">
              <div class="live-chat__chat-listing-item-header">
                <span class="live-chat__chat-listing-item-dot dot--secondary"></span>
                <h4 class="live-chat__chat-listing-item-heading">Rahul Dilip Sharma</h4>
                <span class="app-badge badge--secondary">Bot Name</span>
              </div>

              <div class="live-chat__chat-listing-item-body">
                <p class="live-chat__chat-listing-item-message">Bot: Hi there How may I help you?</p>
                <span class="live-chat__chat-listing-item-time">09:30 AM</span>
              </div>
            </div>

            <div class="live-chat__chat-listing-item">
              <div class="live-chat__chat-listing-item-header">
                <span class="live-chat__chat-listing-item-dot"></span>
                <h4 class="live-chat__chat-listing-item-heading">Rahul Suhas Chaudhary</h4>
                <span class="app-badge badge--secondary">Bot Name</span>
              </div>

              <div class="live-chat__chat-listing-item-body">
                <p class="live-chat__chat-listing-item-message">Bot: Hi there How may I help you?</p>
                <span class="live-chat__chat-listing-item-time">09:30 AM</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="live-chat__chat">
    <div class="chatbot__bot-body">
      <div class="chatbot__bot-messages">
        <!-- msg--recieve class for left side messages which user recieving -->
        <div class="chatbot__bot-messages-msg msg--recieve">
          <div class="chatbot__bot-messages-msg-content content--text">
            <p>Hi! I'm a bot. How may I help You?</p>
            <span class="chatbot__bot-messages-msg-time">08:09 PM</span>
          </div>
        </div>

        <!-- msg--send class for right side messages which user sending -->
        <div class="chatbot__bot-messages-msg msg--send">
          <div class="chatbot__bot-messages-msg-content content--text">
            <p>I would like the information about Data Science Course.</p>
            <span class="chatbot__bot-messages-msg-time">Just Now</span>
          </div>
        </div>
      </div>
    </div>
    <div class="chatbot__bot-footer">
      <!-- 'chatbot__bot-footer-input-group' will be hide when 'chatbot__bot-feedback' shown -->
      <div class="chatbot__bot-footer-input-group">
        <input
          type="text"
          class="chatbot__bot-footer-input"
          placeholder="Type your message here ..."
        />

        <div class="chatbot__bot-footer-input-append">
          <span class="chatbot__bot-footer-emojies">
            <img
              src="../../../../assets/icons/icon_smiley.svg"
              alt="icon smiley"
            />
          </span>

          <span class="chatbot__bot-footer-attachment">
            <img
              src="../../../../assets/icons/icon_attachment.svg"
              alt="icon attachment"
            />
          </span>

          <button class="chatbot__bot-footer-send">
            <img
              src="../../../../assets/icons/icon_send_msg.svg"
              alt="icon send message"
            />

            <span>Send</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="live-chat__sidebar sidebar--right">
    <div class="live-chat__sidebar-tabs">
      <div class="live-chat__sidebar-tabs-btns">
        <button class="live-chat__sidebar-tabs-btn">
          <span>Quick Responses</span>
        </button>
        <button class="live-chat__sidebar-tabs-btn active">
          <span>User Description</span>
        </button>
      </div>

      <div class="live-chat__sidebar-tabs-content"></div>
    </div>
  </div>
</section>
