// @import "~quill/dist/quill.core.css";
// @import "~quill/dist/quill.snow.css";
// @import "quill-emoji/dist/quill-emoji.css";

.video-js button.vjs-big-play-button {
  // display: none !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
