// VARIABLES
@import "./partials/base/variables";

// BASE
@import "./partials/base/base";

// UTILITIES
@import "./partials/utils";

// TYPOGRAPHY
@import "./partials/base/typography";

// MIXINS
@import "./partials/mixins";

// MATERIAL OVERRIDES
@import "./partials/theme/material-popup-override";

// THEME
@import "./partials/theme/theme";

// LAYOUT
@import "./partials/theme/layout";

// components
@import "./partials/components/admin-sidebar";
@import "./partials/components/admin-header";
@import "./partials/components/bot-sidebar";
@import "./partials/components/boat-listing";
@import "./partials/components/create-new-bot-popup";
@import "./partials/components/onboarding";