<div class="chatbot open">
  <div class="chatbot__toggle">
    <img
      src="../../../assets/images/bot.png"
      alt="bot"
      class="chatbot__toggle-logo"
    />

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24.749"
      height="24.749"
      viewBox="0 0 24.749 24.749"
      class="chatbot__toggle-icon"
    >
      <g
        id="Group_1740"
        data-name="Group 1740"
        transform="translate(-1016.466 -6104.099) rotate(45)"
      >
        <line
          id="Line_120"
          data-name="Line 120"
          y2="32"
          transform="translate(5052.5 3581.5)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="1.5"
        />
        <line
          id="Line_121"
          data-name="Line 121"
          y2="32"
          transform="translate(5068.5 3597.5) rotate(90)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="1.5"
        />
      </g>
    </svg>
  </div>

  <div class="chatbot__welcome">
    <p class="chatbot__welcome-msg">
      <img
        src="../../../assets/icons/icons_waving_hand.svg"
        alt="waving hand"
        class="chatbot__welcome-msg-icon"
      />
      <span> Hi! We are happy to help you. </span>
    </p>
  </div>

  <div class="chatbot__bot">
    <div class="chatbot__bot-header">
      <div class="chatbot__bot-header-user online">
        <img src="../../../assets/images/bot_admin_pic.jpg" alt="bot admin" />
      </div>
      <div class="chatbot__bot-header-heading">
        <h4 class="chatbot__bot-header-heading-one">InsideAIML</h4>
        <p class="chatbot__bot-header-heading-tagline">Hi, there!</p>
      </div>
      <div class="chatbot__bot-header-icon">
        <img src="../../../assets/icons/icon_chatbot_down_arrow.svg" alt="chatbot icon" />
      </div>
    </div>

    <div class="chatbot__bot-body">
      <div class="chatbot__bot-messages">
        <div class="chatbot__bot-messages-msg msg--recieve">
          <div class="chatbot__bot-messages-msg-user">
            <img src="../../../assets/images/bot_admin_pic.jpg" alt="" />
          </div>
          <div class="chatbot__bot-messages-msg-content content--text">
            <p>Hi! I'm a bot. How may I help You?</p>
            <span class="chatbot__bot-messages-msg-time">Few min ago</span>
          </div>
        </div>

        <div class="chatbot__bot-messages-msg msg--send">
          <div class="chatbot__bot-messages-msg-user">
            <img src="../../../assets/images/icon_dp_paceholder.png" alt="" />
          </div>
          <div class="chatbot__bot-messages-msg-content content--text">
            <p>I would like the information about Data Science Course.</p>
            <span class="chatbot__bot-messages-msg-time">13:00</span>
          </div>
        </div>

        <div class="chatbot__bot-messages-msg msg--recieve">
          <div class="chatbot__bot-messages-msg-user">
            <img src="../../../assets/images/bot_admin_pic.jpg" alt="" />
          </div>
          <div class="chatbot__bot-messages-msg-content content--media">
            <app-video-player [options]=videoConfig></app-video-player>
            <span class="chatbot__bot-messages-msg-time">Few min ago</span>
          </div>
        </div>

      </div>
    </div>

    <div class="chatbot__bot-footer">
      <div class="chatbot__bot-footer-input-group">
        <input
          type="text"
          class="chatbot__bot-footer-input"
          placeholder="Type your message here ..."
        />

        <div class="chatbot__bot-footer-input-append">
          <span class="chatbot__bot-footer-emojies">
            <img
              src="../../../assets/icons/icon_smiley.svg"
              alt="icon smiley"
            />
          </span>

          <span class="chatbot__bot-footer-attachment">
            <img
              src="../../../assets/icons/icon_attachment.svg"
              alt="icon attachment"
            />
          </span>

          <button class="chatbot__bot-footer-send">
            <img
              src="../../../assets/icons/icon_send_msg.svg"
              alt="icon send message"
            />

            <span>Send</span>
          </button>
        </div>
      </div>

      <div class="chatbot__bot-footer-powered-by">
        <p class="chatbot__bot-footer-powered-by-text">
          <span>Powered by</span>
          <img
            src="../../../assets/images/logo-full-colored.png"
            alt="AskTalos Logo"
          />
        </p>
      </div>
    </div>
  </div>
</div>
